theme = #eb4924
lblue = #11c3fe
llblue = #11c3fe
llorange = #E74C3C
llgreen = #58D68D
lllgreen = #dede
llyellow = #F4D03F
llpink = #f94877

dark = #302B2B
dark2 = #424242
silver = #D5DBDB
dsilver = #BFC9CA

fb = #3b5999
tw = #55acee
fs = #f94877
su = #eb4924
ig = #9b6954