@import 'heim'
@import 'navbar'
@import 'footer'
@import 'navbar'
@import 'myvue'
@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

html, body {
  overflow-x: hidden;
}// html, body

#app {
 background white
 display block !important

}// #app

.application--wrap {
 display block !important
}// .application--wrap

// colors
lblue()
 color #11c3fe

span.lblue {
 color lblue !important
}// span.lblue