@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

.heim {

.playlists {

h1 {
 background rgba(dark .1)
 color dark
 width 100%
 roboto()
 padding 15px

}// h1

.sidebarpl {

.card {
 min-width 239px !important

.list__tile--link {

.list__tile__content {

.list__tile__title {
 color rgba(theme .6)
 goth()
 font-size 13px 

}// .list__tile__title

.list__tile__sub-title {

 font-size 12px

}// .list__tile__sub-title

}// .list__tile__content

}// .list__tile--link

}// .card

}// .sidebarpl

.card {

 .list--two-line {

 }// .list--two-line

.list__tile__title {
 goth()
 text-transform uppercase

}// .list__tile__title

}// .card

}// .playlists

}// .home