.navbar {

.sidebarnav {

.card {
 min-width 239px !important

.list__tile--link {

.list__tile__content {

.list__tile__title {
 color rgba(theme .6)
 goth()
 font-size 13px 

}// .list__tile__title

.list__tile__sub-title {

 font-size 12px

}// .list__tile__sub-title

}// .list__tile__content

}// .list__tile--link

}// .card

}// .sidebarnav

.ivu-menu-item-active {

}// .ivu-menu-item-active

.ivu-menu-item-selected {
 background rgba(dark .1)
 color theme !important
 min-width 239px !important
 border none !important

}// ..ivu-menu-item-selected

.topbar {

// title
h1 {
 background rgba(dark .1)
 color dark
 width 100%
 roboto()
 padding 15px

}// h1

.card {

.list__tile__title {
 color theme
 goth()

}// .list__tile__title

}// .card

}// .topbar

}// .navbar