.layout-header-bar {
 background white !important

p {

i {
 color dark !important
 font-size 30px !important
}// i

}// p

}// .layout-header-bar

.ivu-layout-sider-children {
 background white
}// .ivu-layout-sider-children

.navbar {

}// .navbar